// killof default spacing
*{
	margin: 0;
	padding: 0;
}

// aling center
body{
	text-align:center;
}
.wrapper{
	text-align:left;
	width:500px;
	margin: 0 auto;
}

h1{
	margin-top:1em;
}
h2{
	margin-top:0.5em;
}
h1, legend, strong, h2{
	font-size:120%;
	font-weight:normal;
}
h2{
	font-size:80%;
}


.tableinfo {
	background-color: #FFF000;
}

.tableinfo.active {
	background-color: #000FFF;
}

.selected {
	border: 2px solid black;
}
